/* Show a custom outline on :focus-visible */
:focus-visible {
	outline: var(--border-medium) solid;
	text-decoration-line: none;
}

[tabindex="-1"]:focus {
	outline: none;
}

/* 
	I've implemented a custom focus ring for these links
	so the default is not needed
*/
#mainnav :is(a, button) {
	position: relative;
}

#mainnav :is(a, button):focus-visible {
	outline: none;
}

/* custom focus ring */
#mainnav :is(a, button):before {
	content: "";
	position: absolute;
	inset: var(--gutter) calc(-1 / 4 * var(--gutter));
	border-radius: var(--border-radius-small);
	pointer-events: none;
}

#mainnav :is(a, button):focus-visible:before {
	outline: var(--border-medium) solid;
}
