/* Show a custom outline on :focus-visible */
:focus-visible {
	outline: var(--border-medium) solid;
	text-decoration-line: none;
}

[tabindex="-1"]:focus {
	outline: none;
}

/* 
	I've implemented a custom focus ring for these links
	so the default is not needed
*/
#mainnav :is(a, button),
.product-card-actions a {
	position: relative;
}

#mainnav :is(a, button):focus-visible,
.product-card-actions a:focus-visible {
	outline: none;
}

/* custom focus ring */
#mainnav :is(a, button):before,
.product-card-actions a:before {
	content: "";
	position: absolute;
	inset: var(--gutter) calc(-1 / 4 * var(--gutter));
	border-radius: var(--border-radius-small);
	pointer-events: none;
}

.product-card-actions a:before {
	inset: calc(1 / 1.25 * var(--box-padding)) calc(-1 / 4 * var(--box-padding));
}

#mainnav :is(a, button):focus-visible:before,
.product-card-actions a:focus-visible:before {
	outline: var(--border-medium) solid;
}
