footer {
	--cluster-gap: var(--gutter);
	--cluster-horizontal-alignment: space-between;
	background-color: var(--color-neutral-bg-tertiary);
	border-block-start: var(--border-thin) solid
		var(--color-neutral-border-primary);

	> * {
		padding-block: var(--gutter);
	}

	> * + * {
		border-block-start: var(--border-thin) solid
			var(--color-neutral-border-primary);
	}
}

.sme-accreditation {
	--cluster-gap: 1ch;

	img {
		inline-size: auto;
		block-size: var(--space-m-l);
	}
}
