footer {
	border-block-start: var(--border-thin) solid
		var(--color-neutral-border-primary);
}

.site-footer-inner {
	--cluster-gap: 0 1em;

	a {
		padding-block: var(--gutter);
	}

	nav {
		flex-grow: 999;
	}
}
