.site-head {
	--nav-font-size: var(--step--1);
	--nav-letter-spacing: var(--letter-spacing-loose);
	--cluster-horizontal-alignment: space-between;
	border-block-end: var(--border-thin) solid var(--color-neutral-border-primary);
	font-size: var(--nav-font-size);
	letter-spacing: var(--nav-letter-spacing);

	a,
	button {
		display: inline-flex;
		padding-block: var(--gutter);
		color: var(--color-neutral-text-secondary);
	}

	a {
		text-decoration-line: none;

		&:hover {
			text-decoration-line: underline;
		}

		path {
			fill: var(--color-neutral-bg-quaternary);
			stroke: none;
		}
	}
}

.site-logo {
	position: relative;
	/* arrived at the below value by trial and error */
	inline-size: calc(
		(var(--nav-font-size) * var(--line-height-standard)) + var(--gutter) +
			var(--gutter) + var(--gutter)
	);

	img {
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		inline-size: 100%;
		aspect-ratio: 221/240;
		background-color: var(--color-neutral-bg-primary);
		border-radius: var(--border-radius-small);
	}

	&:focus-visible {
		outline: none;

		img {
			outline: var(--border-medium) solid;
		}
	}
}

#mainnav .site-nav-button {
	--cluster-gap: var(--icon-gap);
	display: none;
	position: relative;
	z-index: 2;
}

:where(.has-js) .site-nav-button line {
	transform-origin: 50%;
}

.site-nav-button[aria-expanded="true"] line {
	&:nth-child(1),
	&:nth-child(4) {
		opacity: 0;
	}

	&:nth-child(2) {
		transform: rotate(45deg);
	}

	&:nth-child(3) {
		transform: rotate(-45deg);
	}
}

@media (--motionOK) {
	.site-nav-button line:nth-child(2),
	.site-nav-button line:nth-child(3) {
		transition: var(--transition-movement);
	}
}

.mainnav-list {
	display: flex;
	gap: var(--gutter);
}

.mainnav-list > :first-child:after {
	content: "|";
	margin-inline-start: var(--gutter);
	color: var(--color-neutral-border-primary);
}

/* Where the view port size is less than 640px and javascript is available */
@media (--lg-n-below) {
	.site-head {
		--nav-font-size: var(--step-0);
		--nav-letter-spacing: normal;
	}

	:where(.has-js) #mainnav .site-nav-button {
		display: flex;
	}

	[aria-expanded="true"] + .mainnav-list-container {
		display: grid;
		justify-content: stretch;
	}

	:where(.has-js) .mainnav-list-container {
		block-size: 100dvh;
		min-inline-size: min(27.5rem, 100vw); /* 440px or lower */
		inset-block-start: 0;
		inset-inline-end: 0;

		padding-block-start: calc(
			var(--gutter) + var(--gutter) +
				(var(--nav-font-size) * var(--line-height-standard))
		);
		padding-inline: var(--gutter);
		padding-block-end: var(--gutter);
		background-color: var(--color-neutral-bg-primary);
		box-shadow: var(--shadow-3);

		overflow: auto;
		overscroll-behavior: contain;
		position: fixed;
		visibility: visible;
		z-index: 1;
	}

	[aria-expanded="false"] + .mainnav-list-container {
		opacity: 0;
		transform: translateX(50%);
		pointer-events: none;
		visibility: hidden;
	}

	[aria-expanded="true"] + .mainnav-list-container {
		transition: var(--transition-fade);
	}

	[aria-expanded="true"] + .mainnav-list-container .mainnav-list {
		display: block;
		border-block-start: var(--border-thin) solid
			var(--color-neutral-border-primary);

		> li + li {
			border-block-start: var(--border-thin) solid
				var(--color-neutral-border-primary);
		}
	}

	.mainnav-list a {
		--cluster-horizontal-alignment: start;
		inline-size: 100%;
	}

	body:has(.site-nav-button[aria-expanded="true"]) {
		overflow: hidden;

		&:after {
			opacity: 1;
			pointer-events: auto;
		}
	}

	.mainnav-list > :first-child:after {
		display: none;
	}
}
