.site-head {
	--cluster-horizontal-alignment: space-between;
	border-block-end: var(--border-thin) solid var(--color-neutral-border-primary);

	a,
	button {
		display: inline-flex;
		padding-block: var(--gutter);
		color: var(--color-neutral-text-secondary);
	}

	a {
		text-decoration-line: none;

		&:hover {
			text-decoration-line: underline;
		}

		path {
			fill: var(--color-neutral-bg-quaternary);
			stroke: none;
		}
	}
}

.site-logo {
	position: relative;
	inline-size: calc((1em + var(--gutter) + var(--gutter)) * 1.5);

	img {
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		inline-size: 100%;
		aspect-ratio: 221/240;
		background-color: var(--color-neutral-bg-primary);
		border-radius: var(--border-radius-small);
	}

	&:focus-visible {
		outline: none;

		img {
			outline: var(--border-medium) solid;
		}
	}
}

#mainnav .site-nav-button {
	--cluster-gap: var(--icon-gap);
	display: none;
	position: relative;
	z-index: 2;
}

:where(.has-js) .site-nav-button line {
	transform-origin: 50%;
}

.site-nav-button[aria-expanded="true"] line {
	&:nth-child(1),
	&:nth-child(4) {
		opacity: 0;
	}

	&:nth-child(2) {
		transform: rotate(45deg);
	}

	&:nth-child(3) {
		transform: rotate(-45deg);
	}
}

@media (--motionOK) {
	.site-nav-button line:nth-child(2),
	.site-nav-button line:nth-child(3) {
		transition: var(--transition-movement);
	}
}

.mainnav-list {
	display: flex;
	gap: var(--gutter);
}

.mainnav-list > :first-child:after {
	content: "|";
	margin-inline-start: var(--gutter);
	color: var(--color-neutral-border-primary);
}

/* Where the view port size is less than 640px and javascript is available */
@media (--sm-n-below) {
	:where(.has-js) #mainnav .site-nav-button {
		display: flex;
	}

	[aria-expanded="true"] + .mainnav-list-container {
		display: grid;
		justify-content: stretch;
	}

	:where(.has-js) .mainnav-list-container {
		block-size: var(--nav-list-container-height, 100svh);
		inline-size: var(--nav-list-container-width, 100vw);
		inset-block-start: var(--nav-list-container-inset, 0);
		inset-inline-start: var(--nav-list-container-inset, 0);

		padding: var(--gutter);
		padding-block-start: calc(
			var(--gutter) + var(--gutter) + (1em * var(--line-height-standard))
		);
		background-color: var(--color-neutral-bg-primary);

		overflow: var(--nav-list-container-overflow, auto);
		overscroll-behavior: contain;
		position: var(--nav-list-container-position, fixed);
		visibility: var(--nav-list-container-visibility, visible);
		z-index: var(--nav-list-container-z-index, 1);
	}

	[aria-expanded="false"] + .mainnav-list-container {
		opacity: var(--nav-list-container-opacity, 0);
		pointer-events: var(--nav-list-container-pointer-events, none);
		visibility: var(--nav-list-container-visibility, hidden);
	}

	[aria-expanded="true"] + .mainnav-list-container {
		transition: var(--transition-fade);
	}

	[aria-expanded="true"] + .mainnav-list-container .mainnav-list {
		display: block;
		font-size: var(--step-2);

		> li + li,
		> li:first-child {
			border-block-start: var(--border-thin) dashed
				var(--color-neutral-border-primary);
		}
	}

	.mainnav-list a {
		--cluster-horizontal-alignment: start;
		inline-size: 100%;
	}

	body:has(.site-nav-button[aria-expanded="true"]) {
		overflow: hidden;
	}

	.mainnav-list > :first-child:after {
		display: none;
	}
}
