.legal {
	--grid-gap: var(--space-l-xl);

	h2,
	.heading-2 {
		font-size: var(--step-2);
		line-height: var(--line-height-medium);
	}

	:where(ol) {
		padding-inline-start: 2rem;
	}

	li + li {
		--flow-space: 1em;
		margin-block-start: var(--flow-space, 1em);
	}

	header {
		--stack-gap: 0.5ex;

		.last-updated {
			order: -1;
		}
	}
}

.toc-container {
	border-block: var(--border-thin) solid var(--color-neutral-border-primary);

	summary {
		padding-block: var(--space-xs);
	}
}

.toc {
	ol {
		margin-block-start: unset;
	}

	:where(ol ol, ul ul) li {
		margin-block-start: var(--flow-space, 1em);
	}
}

/* .legal-content > p:first-child::first-letter {
	-webkit-initial-letter: 4;
	initial-letter: 4;
	color: var(--color-neutral-text-secondary);
	font-family: var(--font-special);
	font-weight: bold;
	margin-inline-end: 0.5ch;
} */

table-saw {
	td,
	th {
		padding: var(--space-xs) var(--space-xs);
		text-wrap: balance;
	}

	:is(th, td):last-child {
		text-align: end;
	}

	thead th {
		color: var(--color-neutral-text-secondary);
		font-family: var(--font-special);
		text-align: start;
	}

	tbody tr {
		border-block-start: var(--border-thin) dashed
			var(--color-neutral-border-primary);
	}
}
