.product-gallery-container {
	grid-column: fullbleed;
	display: grid;
	grid-template-columns: inherit;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}

.product-gallery {
	display: flex;
	block-size: auto;
	grid-column: main;
	padding-block-end: 1rem;

	> * {
		flex: 0 0 auto;
		scroll-snap-align: center;
	}

	> :last-child {
		padding-inline-end: var(--gutter);
	}

	> * + * {
		margin-inline-start: 1rem;
	}

	img {
		inline-size: auto;
		max-block-size: 59vh; /* no specific reason this magic number was chosen */
		filter: drop-shadow(
			0.5rem 0.25rem 0.25rem var(--color-neutral-border-primary)
		);
	}

	figcaption {
		--flow-space: 0.5em;
		max-inline-size: 10rem;
		margin-inline: auto;
		text-align: center;
	}
}

.product-gallery > li {
	flex-basis: auto;
	/* block-size: 100%;
	inline-size: auto; */
}
