.skip-to-main {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: var(--gutter);

	opacity: 0;
	transform: translateY(-100%);
	transition: transform 150ms ease;
	z-index: 999;
}

.skip-to-main:focus-visible {
	opacity: 1;
	transform: translate(0);
	inset-block-start: var(--gutter);
	outline-color: var(--color-brand-border-primary);

	/* this needs to be added  to override a style in the global styles */
	/* transition: transform 150ms ease; */
	transition-property: transform, inset-block-start;
	transition-duration: 150ms;
}
