/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1240,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	/* Step -2: 10.24px → 10.1301px */
	--step--2: clamp(0.6331rem, 0.6424rem + -0.0119vi, 0.64rem);
	/* Step -1: 12.8px → 13.5034px */
	--step--1: clamp(0.8rem, 0.7847rem + 0.0765vi, 0.844rem);
	/* Step 0: 16px → 18px */
	--step-0: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
	/* Step 1: 20px → 23.994px */
	--step-1: clamp(1.25rem, 1.1632rem + 0.4341vi, 1.4996rem);
	/* Step 2: 25px → 31.984px */
	--step-2: clamp(1.5625rem, 1.4107rem + 0.7591vi, 1.999rem);
	/* Step 3: 31.25px → 42.6347px */
	--step-3: clamp(1.9531rem, 1.7056rem + 1.2375vi, 2.6647rem);
	/* Step 4: 39.0625px → 56.832px */
	--step-4: clamp(2.4414rem, 2.0551rem + 1.9315vi, 3.552rem);
	/* Step 5: 48.8281px → 75.7571px */
	--step-5: clamp(3.0518rem, 2.4663rem + 2.9271vi, 4.7348rem);
}

/* @link https://utopia.fyi/clamp/calculator?a=320,1240,25—76&p=step */

:root {
	--step-25-76: clamp(1.5625rem, 0.4538rem + 5.5435vi, 4.75rem);
}
