---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{
  "name": "{{ site.title }}",
  "short_name": "{{ site.title }}",
  "start_url": "{{ site.url }}",
  "icons": [
    { "src": "/icon-192.png", "type": "image/png", "sizes": "192x192" },
    { "src": "/icon-512.png", "type": "image/png", "sizes": "512x512" }
  ],
  "theme_color": "#f4f4f5",
  "background_color": "#f4f4f5",
  "display": "standalone"
}