<article class="about-us grid">
  <h2 class="eyebrow">{{ team.headline }}</h2>
  <dl class="team-member-list grid">
    {% for member in team.memberList %}
      <div class="team-member-item box flow">
        <dt class="heading-3">{{ member.name }}</dt>
        <dd class="member-role">{{ member.role }}</dd>
        <dd class="member-introduction">{{ member.introduction }}</dd>
      </div>
    {% endfor %}
  </dl>
  <div
    class="mission-belief-container grid"
    data-columns="1fr 1fr"
  >
    <div class="flow">
      {% lucide "target" %}
      <h3>
        {{ team.mission.label }}
      </h3>
      <p>{{ team.mission.description }}</p>
    </div>
    <div class="flow">
      {% lucide "shield-check" %} 
      <h3>
        {{ team.belief.label }}
      </h3>
      <p>{{ team.belief.description }}</p>
    </div>
  </div>
</article>