<article id="solutions">
  <div
    class="product-cards-container grid"
    data-columns="1fr 2fr"
  >
    <h2 class="eyebrow">
      {{ solutions.headline }}
    </h2>

    <!-- product introduction cards -->
    <ul class="product-cards grid" role="list">
      {% for product in solutions.products %}
        <li>
          {% image
            "./assets/images/" + product.card.url,
            product.card.alt,
            product.card.caption,
            "(min-width: 64em) 33vw, (min-width: 48em) 60vw, 100vw"
          %}
          <div class="box flow">
            <h3>{{ product.title }}</h3>
            {{ product.overview | md | safe }}
            <div class="cluster">
              <a 
                class="link-w-icon cluster" 
                href="#{{ product.title | slugify }}"
              >
                Know More
                <span class="vh">about {{ product.title }}</span>
              </a>
              <a
                class="link-w-icon cluster"
                href="{{ product.downloadURL}}"
              >
                {% set productIcon = "partials/" + product.icon + "-icon.html" %}
                {% include productIcon %}
                Download
              </a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>

<!-- product info and how it works -->
{% for product in solutions.products %}
  <article 
    class="product-info" 
    id={{ product.title | slugify }}
  >
    <h2 class="eyebrow">
      {{ product.title }}
    </h2>
    {% if product.images %}
      <div class="product-gallery-container">
        <ul class="product-gallery" role="list">
          {% for image in product.images %}
            <li>
              {% image
                "./assets/images/app/" + image.url,
                image.alt,
                image.caption,
                "(min-width: 48em) 40vw, 66vw"
              %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <div class="how-it-works">
      <h3 class="vh">How it works:</h3>
      <dl>
        {% for item in product.howItWorks %}
          <div class="grid" data-columns="1fr 2fr">
            <dt class="heading-3">{{ item.term }} </dt>
            <dd>{{ item.description | md | safe }}</dd>
          </div>
        {% endfor %}
      </dl>
    </div>
  </article>
{% endfor %}

