<article class="grid" id="solutions">
  <div
    class="product-cards-container grid"
    data-columns="1fr 2fr"
  >
    <h2 class="eyebrow">
      {{ solutions.headline }}
    </h2>

    <!-- product introduction cards -->
    <ul class="product-cards grid" role="list">
      {% for product in solutions.products %}
        <li class="product-card-item stack">
          {% image
            "./assets/images/" + product.card.url,
            product.card.alt,
            product.card.caption,
            "(min-width: 64em) 33vw, (min-width: 48em) 60vw, 100vw"
          %}
          <div class="product-card-content stack">
            <h3>{{ product.title }}</h3>
            <div class="product-card-desc stack">
              {{ product.overview | md | safe }}
              <div class="product-card-actions cluster step--1">
                <a
                  class="link-w-icon cluster"
                  href="#{{ product.title | slugify }}"
                >
                  Know More
                  <span class="vh">about {{ product.title }}</span>
                </a>
                {% if product.downloadLinks.length > 1 %}
                  <ul class="cluster" role="list">
                    {% for item in product.downloadLinks %}
                      <li>
                        <a
                          class="link-w-icon cluster"
                          href="{{ item.url }}"
                        >
                          {% set productIcon = "partials/" + item.icon + "-icon.html" %}
                          {% include productIcon %}
                          Download
                          <span class="vh">
                            {{ item.hiddenText }}
                          </span>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <a
                    class="link-w-icon cluster"
                    href="{{ product.downloadLinks[0].url }}"
                  >
                    {% set productIcon = "partials/" + product.downloadLinks[0].icon + "-icon.html" %}
                    {% include productIcon %}
                    Download 
                    <span class="vh">
                      {{ product.downloadLinks[0].hiddenText }}
                    </span>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>

